[Unit]
Description=RobustIRC bridge (for %I)
Documentation=man:robustirc-bridge(1)
Documentation=http://robustirc.net/

[Service]
Restart=on-failure
# robustirc-bridge.service (without @) listens on SOCKS already.
ExecStart=/usr/bin/robustirc-bridge -socks= -network=%I
# The bridge only needs network access and is entirely stateless. Therefore,
# restrict access to the system as far as possible.
User=nobody
PrivateDevices=true
ProtectSystem=true
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
